{{!-- sets template for single post and comments --}}
<div class="post">
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>{{post.title}}</h2>
      <div>
        Posted by
        {{post.user.username}}
        on
        {{format_date post.createdAt}}
      </div>
    </div>
    <div class="card-body">
      {{post.body}}
      {{#if canEdit}}
      <div>
        <a href="/dashboard/edit/{{post.id}}">
        <button class="bttn">Edit</button>
        </a>
      </div>
      {{/if}}
  </article>

  {{#if post.comments.length}}
    {{#each post.comments as |comment|}}
      <div class="card">
        <div class="card-header">
          <h2>Comment By
            {{comment.user.username}}
            on
            {{format_date comment.createdAt}}</h2>
        </div>
        <div class="card-body">
          <p>
            {{comment.description}}
          </p>
        </div>
      </div>
    {{/each}}
  {{/if}}
  <form id="new-comment-form" class="card">
    <div class="card-header">
      <h3>Add New Comment</h3>
    </div>

    <div class="card-body">
      <input type="hidden" name="post-id" value="{{post.id}}" />

      <label class="form-label" for="comment-body">Comment</label>

      <textarea name="comment-body" class="form-input"></textarea>

      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>

<script src="/js/comment.js"></script>